/* кольори сайту:
#FFFFFF
#212121
#757575
#2196F3
#F5F4FA
#000000
#ECECEC
#FFFFFF 60%
#2F303A
 */
/* Шрифти
 font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
 */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --fon-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  background-color: var(--fon-color);
  color: var(--primary-text-color);
}
/* хедер */
/* ___логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;

  color: #000000;
}
.logo-blue-text {
  color: var(--accent-color);
}
.top .links {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.navigation .links {
  color: var(--title-text-color);
}

.links:hover,
.links:focus {
  color: var(--accent-color);
}
/* main */
.title-boss {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--fon-color);
}
.section-boss {
  background-color: #2f303a;
}
.button-pas {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;

  color: var(--title-text-color);

  background-color: #f5f4fa;
  cursor: pointer;
}
.button-pas:focus,
.button-pas:hover {
  color: var(--fon-color);
  background-color: var(--accent-color);
}
.title-big {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--title-text-color);
}
.specifics {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.comand {
  background-color: #f5f4fa;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--title-text-color);
}
.work {
  font-size: 16px;
  line-height: 1.19;
}
/* footer */
.low {
  background-color: #2f303a;
}
.low .logo {
  color: var(--fon-color);
}
.address-list {
  font-style: normal;
}
.address-text {
  color: var(--fon-color);
}
.address-links {
  color: rgba(255, 255, 255, 0.6);
}
/* portfolio */
.port-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.links-text {
  color: var(--primary-text-color);
}
